# env file for running environment locally
# Use your own environment

JWT_SECRET=sthingsecret
PAYPAL_CLIENT_ID=
MONGODB_URI=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_URL=
CLOUDINARY_API_SECRET=
GOOGLE_API_KEY=

# You can search this part with the key APP PASSWORD Google Nodemailer
USER=
APP_PASSWORD=

