.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
  font-family: "Arial";
  background-image: radial-gradient(
      circle,
      rgba(159, 224, 229, 0.8),
      rgba(196, 180, 239, 0.9)
    ),
    url("https://images.pexels.com/photos/7722760/pexels-photo-7722760.jpeg");
  background-size: cover;
  background-position: left;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100%, 0 100%);
}

.fixed-sidebar {
  padding: 1em 0;
}

.content-wrapper {
  display: flex;
  flex: 1;
}

.page-content {
  flex: 1;
}
/* Navbar */
.nav-header {
  background-image: linear-gradient(
    52deg,
    rgb(144, 224, 74) 7%,
    rgb(171, 210, 117) 28%,
    rgb(123, 217, 92) 54%,
    rgb(6, 166, 91) 81%
  );
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.avatar-hover {
  max-height: 10vh;
  max-width: 10vw;

  border-radius: 50%;
  transition: 0.5s;
}

.avatar-hover:hover {
  transform: scale(1.2);
}

.nav-header .shop-title {
  font-family: "Old West", cursive;
  font-size: 24px;
  text-transform: uppercase;
  color: #133e10;
  letter-spacing: 2px;
  margin-right: 1vw;
  transition: 1s;
}

.nav-header .shop-title.active,
.shop-title:active,
.nav-header .shop-title:hover {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(213, 27, 105, 1) 33%,
    rgba(253, 29, 29, 1) 67%,
    rgba(252, 176, 69, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

/* Navbar Brand */
.navbar-brand {
  color: #ece5e5;
  font: bold 16px/1.5 Arial, Helvetica, sans-serif;
}

/* Navbar Brand Image */
.navbar-brand > img {
  max-height: 40px;
  width: auto;
  padding-right: 10px;
}

/* footer */
.footer {
  bottom: 0 !important;
  background-image: linear-gradient(
    52deg,
    rgb(144, 224, 74) 7%,
    rgb(171, 210, 117) 28%,
    rgb(123, 217, 92) 54%,
    rgb(6, 166, 91) 81%
  );
  text-align: center;
  padding: 8px;
}
.footer-copyright {
  text-align: center !important;
}

.footer-body {
  z-index: 1;
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }

  .table-container {
    overflow-x: auto;
    width: 20em;
  }

  .fixed-sidebar {
    padding: 1em 0;
    font-size: small;
    max-width: 17%;
  }

  * {
    font-size: small !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.blockquote-footer {
  color: #a588c0 !important;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #700c86 !important;
}

/* Loading Screen */
.loading-box {
  border-radius: 50%;
  width: 8vw;
  height: 8vw;
  animation: spin 0.5s linear infinite;
  margin: 20px auto;
}

.loading-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  inset: 0;
  border-radius: 50%;
  border: 14px solid transparent;
  background: linear-gradient(
      45deg,
      rgba(12, 103, 197, 1) 0%,
      rgba(116, 23, 220, 1) 36%,
      rgba(226, 0, 161, 1) 66%,
      rgba(235, 4, 38, 1) 100%
    )
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  animation: prixClipFix 0.5s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

/* Notification Screen */
.info,
.success,
.warning,
.error,
.validation {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.info {
  color: #00529b;
  background-color: #bde5f8;
  background-image: url("https://i.imgur.com/ilgqWuX.png");
}
.success {
  color: #4f8a10;
  background-color: #dff2bf;
  background-image: url("https://i.imgur.com/Q9BGTuy.png");
}
.warning {
  color: #9f6000;
  background-color: #feefb3;
  background-image: url("https://i.imgur.com/Z8q7ww7.png");
}
.error {
  color: #d8000c;
  background-color: #ffbaba;
  background-image: url("https://i.imgur.com/GnyDvKN.png");
}
.validation {
  color: #d63301;
  background-color: #ffccba;
  background-image: url("https://i.imgur.com/GnyDvKN.png");
}

/* nav link */
a.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: large;
  padding-right: 20px;
  transition: color 0.3s;
}

a.nav-link:hover {
  color: #ffcc00;
}

.navbar-nav {
  margin: 11px;
  display: flex;
}

.img-thumbnail {
  min-height: 80px;
  max-height: 80px;
  max-width: 80px;
  min-width: 80px;
}

.small-container {
  max-width: 600px;
}

.dropdown-menu {
  background-image: linear-gradient(
    261deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(36, 36, 87, 1) 35%,
    rgb(7, 65, 77) 100%
  );
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
}

.dropdown-menu a {
  display: block;
  padding: 8px 10px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s;
}

.dropdown-menu a:hover {
  background-color: #f7d9aa;
  color: #1a0707;
}

.dropdown-menu a {
  color: #fff;
  text-decoration: none;
  font-size: medium;
  padding-right: 20px;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover {
  background: linear-gradient(to right, #984646, #4287f5);
  color: #fff;
  transition: 0.3s;
}

.checkout-steps {
  display: flex;
}

.checkout-steps > div {
  flex: 1;
  border-bottom: 0.4rem solid #eee;
  font-size: 1.2em;
  color: #aaa8a8;
}

.checkout-steps > div.active {
  border-bottom: 0.4rem solid #e7930b;
  color: #e7930b;
  font-size: 1.2em;
}

.form-control {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 6px 12px rgba(0, 0, 0, 0.15);
}

.list-group-item {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 6px 12px rgba(0, 0, 0, 0.15);
}

.order-box {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

/* product-thumbnail */
.thumbnail-card {
  padding: 0;
}

.thumbnail-card img {
  transition: transform 0.3s ease-in-out;
}

.thumbnail-card img:hover {
  transform: scale(1.1);
}

.appear-animation {
  animation: appear 0.5s ease-out;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-img,
.card-img-bottom,
.card-img-top {
  max-height: 100px;
  min-height: 100px;
}

/* Show description */
.hoverable {
  cursor: pointer;
  color: rgb(112, 112, 227);
  text-align: right;
}

.hoverable:hover {
  text-decoration: underline;
}

.card-link:hover .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-link:hover .card-title {
  color: #007bff;
}

/* Active state for the like and dislike buttons */
.like-button.active,
.dislike-button.active {
  background-color: #007bff !important;
  color: #fff;
}

/* Active state for the thumbs-up and thumbs-down icons */
.like-button.active .fas.fa-thumbs-up,
.dislike-button.active .fas.fa-thumbs-down {
  color: #fff;
}

.like-button.active .fas.fa-thumbs-up.active-icon,
.dislike-button.active .fas.fa-thumbs-down.active-icon {
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 3px;
}

/* ScrollToTopButton */
.scroll-to-top-button {
  text-align: end;
  margin-right: 4vw;
  margin-bottom: 2vw;
}

.scroll-to-top-button i:hover {
  background-color: #0056b3;
  transform: scale(1.3);
  color: #ffffff;
  transition: all 0.7s ease;
  cursor: pointer;
}
